
.comContainer {
    background-color: rgb(99, 199, 95);
}

.header {
    
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Arial Black", "Courier New", monospace;
}

.container {
    display: grid;
    gap: 10px 10px;
    margin: 10px;
    grid-template-columns: auto ;
    grid-template-rows: auto auto ;
  }
  
  .left {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    margin: 10px;
  }
  
  .right {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    margin: 10px;
  }
  