<link rel="stylesheet" type="text/css" href="yaw-control.component.css">

<div class="comContainer">
    <div class="header" >Yaw</div>
    <div class="container">

        <div class="left">
          <button (click)="buttonLeftClick()" mat-raised-button style="width: 100%; height: 150px;">Left</button>
        </div>
        <div class="right">
          <button (click)="buttonRightClick()" mat-raised-button style="width: 100%; height: 150px;">Right</button>
        </div>
      </div>
</div>
