<link rel="stylesheet" type="text/css" href="function-control.component.css">

<div class="comContainer">
    <div class="header" >Functions</div>
    <div class="vertical-buttons">
        
        <button (click)="button1Click()" mat-raised-button>F1</button>
        <button (click)="button2Click()" mat-raised-button>F2</button>
        <button (click)="button3Click()" mat-raised-button>F3</button>
        <button (click)="button4Click()" mat-raised-button>F4</button>
        <button (click)="button5Click()" mat-raised-button>F5</button>
        
    </div>
</div>
