<link rel="stylesheet" type="text/css" href="altitude-control.component.css">

<div class="comContainer">
    <div class="header" >Altitude</div>
    <div class="container">
        <div class="top">
          <button (click)="buttonUpClick()" mat-raised-button style="width: 100%; height: 100%;">Up</button>
        </div>
        <div class="bottom">
          <button (click)="buttonDownClick()" mat-raised-button style="width: 100%;  height: 100%;">Down</button>
        </div>
    </div>
</div>
