

.comContainer {
    background-color: rgb(99, 199, 95);
    height: 100%;
}

.header {
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Arial Black", "Courier New", monospace;
}

.container {
    display: grid;
    gap: 10px 10px;
    margin: 10px;    
    height: 88%;
    
}
  
.top {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    margin: 10px;
}
  
.bottom {
    grid-area: 2 / 1 / 3 / 2;
    text-align: center;
    margin: 10px;
}
  