
.comContainer {
    background-color: rgb(99, 199, 95);
    display: flex;
    flex-direction: column;
}

.header {
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Arial Black", "Courier New", monospace;
}

.container {
    display: grid;
    gap: 10px 10px;
    margin: 10px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  
  .top {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    margin: 10px;
  }
  
  .bottom {
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
    margin: 10px;
  }
  
  .left {
    grid-area: 2 / 1 / 3 / 2;
    text-align: center;
    margin: 10px;
  }
  
  .right {
    grid-area: 2 / 3 / 3 / 4;
    text-align: center;
    margin: 10px;
  }